html {
    background-color: #4444;
    padding: 0 1em;
}

body {
    background-color: grey;
	font-family: 'Lato', sans-serif;
	margin: 1em auto;
	max-width: 50em;
	height: 52.625em;
}

#section-left {
    width: 35%;
    float: left;
    height: 100%;
	background-color: DarkCyan;
    color: #fff;
    text-align: center;
}

#section-left .section {
	margin-top: 40%;
}

#section-left .section .logo {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin: 0 auto 0 20;
}

.intro .content {
    margin-bottom: 20px;
}

#contact {
	margin-top: 40px;
}

h1{
    font-family: 'Open Sans';
    text-transform: uppercase;
}

#section-right {
	width: 65%;
	float: right;
}

#section-right .section {
	margin: 0 0 30px 0;
}

.wrapper {
	padding: 1em;
    background-color: white;
    height: 96.3%;
}

.wrapper .title {
	color: DarkCyan;
	font-size: 1.3em;
    font-variant: small-caps;
    letter-spacing: 0.1em;
	font-weight: bold;
	border-bottom: 2px solid #f2f2f2;
}

a:link {
	color: #fff;
	text-decoration: none;
}

a:visited {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

a:active {
	color: #fff;
	text-decoration: none;
}

h2 {
	text-transform: uppercase;
	font-size: 1em;
}

h3 {
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: normal;
}
